@model IEnumerable<_5LetrasBanco.Models.Comentario>


@{
    ViewData["Title"] = "Comentario";
}

<h1>Comentario</h1>

<p>
    <a asp-action="Create">Cadastrar Novo:</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Conteudo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duvida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Professor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlunoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComentarioTexto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Conteudo.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duvida.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Professor.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlunoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComentarioTexto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
