@model _5LetrasBanco.Models.Avaliacao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Avaliacao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlunoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlunoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Professor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Professor.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvaliacaoDescricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvaliacaoDescricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvaliacaoEstrela)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvaliacaoEstrela)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
