@model _5LetrasBanco.Models.Alunos

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Alunos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlunoNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlunoNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlunoEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlunoEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlunoSenha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlunoSenha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlunoEscolaridade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlunoEscolaridade)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Back to List</a>
</div>
