@model IEnumerable<_5LetrasBanco.Models.Conteudo>

@{
    ViewData["Title"] = "Conteudo";
}

<h1>Conteudo</h1>

<p>
    <a asp-action="Create">Cadastrar Novo:</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Professor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Materias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConteudoTexto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Professor.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Materias.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConteudoTexto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
